:root {
    --yellow: #FDD04F;
    --dark_green: #13333B;
    --green: #47C5B4;
    --light_green: #BEDACD;
    --blue: #136A81;
    --col_width: 50px;
}

/* Reset */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* André */



/* Gabriel */
header{
    text-align: center;
}
#inputNames{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#inputUm{
    font-size: 20px;
    border: 1px solid var(--dark_green);
    width: 200px;
    background-color: var(--light_green);
    margin: 10px;
    color: var(--dark_green);
}

#inputDois{
    font-size: 20px;
    border: 1px solid var(--dark_green);
    width: 200px;
    background-color: var(--light_green);
    margin: 10px;
    color: var(--dark_green);
}

#submit{
    height: 20px;
    width: 200px;
    background-color: var(--dark_green);
    color: var(--light_green);
    margin: 10px;
}

/* Lucas */

div.game_container {
    display: flex;
}

div.game__col {
    width: var(--col_width);
    height: 100px;
    background-color: red;
}